In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("./data/ex1data1.txt", names=["Population", "Profit"])
data.head()

   Population   Profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [4]:
data.insert(0, 'ones', 1)
data.head()
X = data.iloc[:, 0:-1]
X.head()
y = data.iloc[:, -1]
y.head()
X = X.values
y = y.values
y = y.reshape(97, 1)

In [5]:
def normalEquation(X,y):
    theta = np.linalg.inv(X.T @ X) @ X.T @ y
    return theta

In [6]:
theta = normalEquation(X,y)

In [7]:
theta

array([[-3.89578088],
       [ 1.19303364]])